* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Sriracha', cursive;
    color: #023047;
}

p {
    font-family: "Times New Roman", serif;
    color: #023047;
}

img {
  width: 100%;
}
body{
  background-color:#8ECAE6;
}


/*Github link*/
.gitLink{
    padding: 5px;
    float: right;
    background-color: #FB8500;
}

/*Menu items*/
.bg-dark {
  background-color: #FB8500!important;
}
.logo{
  width:64px; 
  height:64px;
}
.nav-link{
  color: #023047!important;
}
.active{
  font-weight: bold;
}

/*Grid*/
.grid{
  margin: 0 auto;
}

.grid-item {
  margin-top: 10px;
  
}
.grid-width-1{
  width: 400px;
}
.grid-width-2{
  width: 100%;
}

/**/
.pdf{
  width: 100%;
  height: 100vh;
}


/*main page*/
.hello{
  padding: 5px;
  background-color: #219EBC;
}

/**/
.about {
    background-color: #219EBC;
    display: flex;
    padding-left: 5px;
  }
  .about2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .aboutMe {
    background-color: #219EBC;
    text-align: center;
    display: flex;
  }




/*Session notes*/
.session-box{
  background-color: #219EBC;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.session-heading{
  display: inline-flex;
  justify-content: space-between;
}
.session-number{
  width: auto;
  float: left;
}
.session-date{
  width: auto;
  float: right;
}



@media only screen and (max-width: 400px){
  
}

@media only screen and (min-width: 961px) {
    body {
      width: 960px;
      margin: 0 auto;
    }
  }
